
@font-face {
    font-family: "clock-font";
    src: url('./clock-font.ttf');
}

body{
	margin: 0;
	overflow-x: hidden;
	background-image:url(fond.png);
	background-position: center;
	font-family: helvetica;
	font-variant:small-caps;
}

/* --------- PANEL ---------- */

#panel_opener{
	position: fixed;
	top: 50px;
	left: 20px;
	width: 50px;
	height: 50px;
}
#panel{
	width: 20%;
	background-color: #D8D8D8;
	width: 300px;
	position: fixed;
	top: 120px;
	left: -400px;
	transition: all 0.3s linear;
	z-index: 20;
	border: solid 2px rgba(0,0,0,0.6);
}
#panel_filter{
	overflow: auto;
	height: 400px;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 10px 20px 10px;
	border: solid 1px rgba(0,0,0,0.6);
}
.part_filter{
	margin: 25px 0 10px 10px;
}
label.part_label{
	font-size: 20px;
}
.filter{
	margin-left: 30px;
}
#title_panel{
	font-size: 24px;
	font-weight: bold;
	width: 100%;
	height: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
}
#applicate{
	margin: 10px 0px 10px 170px;
	font-size: 20px;
	font-family: helvetica;
	font-variant:small-caps;
}

/* --------- LINKS ---------- */

#links_opener{
	position: fixed;
	top: 50px;
	right: 20px;
	width: 50px;
	height: 50px;
}
#links {
	width: 70px;
	position: fixed;
	top: 120px;
	right: -70px;
	transition: all 0.3s linear;
}
a.link img{
	width: 70px;
	height: 70px;
	margin-top: 10px;
	background-color: white;
	border-radius: 7px;
}
#links_gotop{
	position: fixed;
	bottom: 50px;
	right: 20px;
	width: 50px;
	height: 50px;
}
#links_gobot{
	position: fixed;
	bottom: 50px;
	left: 20px;
	width: 50px;
	height: 50px;
}

/* --------- REFRESH ---------- */

#avai_news{
	width: 80%;
	text-align: center;
	margin: 0 auto 15px auto;
	padding-top: 5px;
	font-size: 30px;
	height: 40px;
	color: grey;
}
#avai_news:hover{
	background-color: rgba(0,0,0,0.6);
	cursor: pointer;
}
#avai_news:active { 
    
}
#img_refresh{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 46px;
	height: 46px;
}
#img_refresh:hover{
	background-color: rgba(0,0,0,0.6);
	cursor: pointer;
}

/* --------- ARTICLES ---------- */

#news{
	position: relative;
	margin: auto;
	padding-top: 20px;
	z-index: 10;
	background-color: rgba(0,0,0,0.6);
}
.new{
	position: relative;
	width: 300px;
	height: 240px;
	margin-left: 5px;
	margin-bottom: 5px;
	background-color: white;
	display: inline-block;
	overflow: hidden;
	background-color: #F3F3F3;
}
.img-new{	
	margin-top: 52px;
	position: absolute;
	max-width: 300px;
	max-height: 240px;
	top: 0px;
	z-index: 2;
}
.bottom-bar{
	position: absolute;
	width: 100%;
	height: 8px;
	background-color: #AAA;
	bottom: 0px;
	z-index: 3;
}
.bottom-fb-bar{
	position: absolute;
	width: 100%;
	height: 8px;
	background-color: #3B5998;
	bottom: 0px;
}
.bottom-tw-bar{
	position: absolute;
	width: 100%;
	height: 8px;
	background-color: #00B4F2;
	bottom: 0px;
}
.facebook-img{
	position: absolute;
	bottom: -50px;
	right: 0px;
	filter:alpha(opacity=20); 
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	width: 150px;
}
.twitter-img{
	position: absolute;
	bottom: -50px;
	right: 0px;
	filter:alpha(opacity=20); 
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	width: 150px;
}
.title{
	width: 220px;
	height: 120px;
	margin: 25px 0 0 40px;
	font-size: 16px;
	text-align: center;
	font-style: italic;
	color: #222;
	text-overflow: ellipsis;
	z-index: 3;
}
.title-new{
	font-family: arial;
	font-size: 18px !important;
	padding-top: 3px;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	text-align: center;
	color: #222;
	overflow: hidden;
	z-index: 3;
}
.origine{
	font-family: arial;
	width: 120px;
	height: 30px;
	margin: 30px 0 0 165px;
	font-weight: bold;
	font-size: 18px;
	color: black;
	z-index: 3;
	text-align: center;
}
.origine-new{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 70px;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	z-index: 3;
	background-color: rgba(255,255,255,0.8);
}
.origine-name{
	font-family: arial;
	margin: 20px 0 0 130px;
	text-align: center;
	font-size: 20px;
	color: black;
}
.favicon{
	position: absolute;
	bottom: -40px;
	right: 30px;
	filter:alpha(opacity=20); 
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	width: 100px;
}
.open-quote{
	position: absolute;
	top: 20px;
	left: 10px;
	width: 25px;
}
.close-quote{
	position: absolute;
	top: 20px;
	right: 10px;
	width: 25px;
}
.date-new{
	font-family: "clock-font";
	position: absolute;
	top: 175px;
	left: 30px;
	font-size: 40px;
	z-index: 3;
	color: black;
}
.date-tw-new{
	font-family: "clock-font";
	position: absolute;
	top: 175px;
	left: 30px;
	font-size: 40px;
	color: #00B4F2;
}
.date-fb-new{
	font-family: "clock-font";
	position: absolute;
	top: 175px;
	left: 30px;
	font-size: 40px;
	color: #3B5998;
}
.Football{
	background-color: #00CD03;
	opacity: 0.7;
}
.Basketball{
	background-color: #FE8300;
	opacity: 0.7;
}
.Tennis{
	background-color: #FFFD4D;
	opacity: 0.7;
}
.Ski{
	background-color: #91FFFF;
	opacity: 0.7;
}
.Auto-Moto{
	background-color: #FF0F0F;
	opacity: 0.7;
}
.Rugby{
	background-color: #B05806;
	opacity: 0.7;
}
.Handball{
	background-color: #FFBC00;
	opacity: 0.7;
}
.Natation{
	background-color: #006FFF;
	opacity: 0.7;
}

#ads{
	position: fixed;
    left: 50%;
    bottom: 0px;
    z-index: 101;
    margin-left: -364px;
}